@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:700");

body {
  padding: 0;
  margin: 0;
  background: #4F6367;
  background-size: cover;
  background-image: url(/Users/ben/Desktop/game_projects/sky_view/assets/images/T2hwUmC.gif);
}

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
}

canvas {
  display: block;
  margin: 30px auto 0;
  background: #626670;
}

.credit {
  font-family: "Chakra Petch", sans-serif;
  text-align: right;
  color: #355c7d;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
}

a {
  color: #355c7d;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
  color: #6c5c7b;
}

.bottom_credits {
  font-family: "Chakra Petch", sans-serif;
  text-align: right;
  color: #355c7d;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}