@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:700");
@import url('https://fonts.googleapis.com/css?family=Srisakdi');

body {
  padding: 0;
  margin: 0;
  background: #4f6367;
  background-size: cover;
  background-image: url(https://archive-media-1.nyafuu.org/wg/image/1515/43/1515436695167.gif);
}

h1 {
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #A8A7A8;
  font-size: 45px;
}

canvas {
  display: block;
  margin: 30px auto 0;
  background: #626670;
}

.credit {
  position: relative;
  font-family: "Chakra Petch", sans-serif;
  color: #A8A7A8;
  font-size: 14px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  color: #355c7d;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
  color: #6c5c7b;
}

.name {
  color: #A8A7A8
}

/* .bottom_credits {
  font-family: "Chakra Petch", sans-serif;
  text-align: right;
  color: #355c7d;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
} */
.controls {
  font-family: "Chakra Petch", sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #A8A7A8;
  text-align: center;
}